{% extends "myapp/main.html" %}
{% load static %}
{% load i18n %}

{% block title %}Password Reset from Key - UniqueFinderTrades{% endblock %}

{% block content %}
<main class="mb-220">
    <section class="mb-5">
        <div class="container">
            <div class="mt-5 text-center">
                <div class="all-heading">
                    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h3>
                </div>
            </div>
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="homecontent">
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

                {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}" />
                </form>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}