{% extends "myapp/main.html" %}
{% load static %}

{% load i18n %}
{% block title %}Password Change - UniqueFinderTrades{% endblock %}


{% block content %}
<main class="mb-220">
    <section class="mb-5">
        <div class="container">
            <div class="mt-5 text-center">
                <div class="all-heading">
                    <h3>{% trans "Change Password" %}</h3>
                </div>
            </div>
    
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="content__bott">
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
        </div>
    </section>
</main>

{% endblock %}
