{% extends "myapp/main.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}Password Reset Done - UniqueFinderTrades{% endblock %}


{% block content %}
<main class="mb-220">
    <section class="mb-5">
        <div class="container">
            <div class="mt-5 text-center">
                <div class="all-heading">
                    <h3>{% trans "Password Reset" %}</h3>
                </div>
            </div>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="homecontent">
                <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam
                    folder.
                    Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}