{% extends "myapp/main.html" %}
{% load static %}
{% block title %}About - UniqueFinderTrades{% endblock %}

{% block content %}

<div class="ondortrades">
    <div class="container">
        <div class="ondortrades__flex">
            <div class="ondortrades__col">
                <h6 class="red-c">
                    UNIQUE FINDER TRADES
                </h6>
                <h1>
                    Well-coordinated teamwork speaks About Us
                </h1>
            </div>
            <div class="ondortrades__col">
                <h5>
                    We add value to the Brands
                </h5>
                <p>
                    We try to source products from well established brands so that our customers are served with top
                    notch quality of products.
                </p>
            </div>
            <div class="ondortrades__col">
                <h5>
                    Where customers are friends.
                </h5>
                <p>
                    Customer satisfaction is our top most priority. We do accept returns with even change of mind too.
                    Out customer support is available 24/7
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutstore mt-5">
    <div class="container">
        <div class="col-lg-12">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'images/about-us-3-image-1.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 ">
                    <div class="marl__m mt-5">
                        <h6 class="red-c">
                           UNIQUE FINDER TRADES
                        </h6>
                        <h1>
                            About our store
                        </h1>
                        <h5>
                            Welcome to UNIQUE FINDER TRADES
                        </h5>
                        <p>
                            Welcome to UNIQUE FINDER TRADES, your number one source for all products. We’re committed to provide you the best of Electronics, Baby, Household, Home & Kitchen, Pet Supplies, Office supplies, toys and much more with a focus on Product Range, Pricing, Shipment, Quality & Customer Care. We fully understand our customers’ need and demand.
                        </p>
                        <p>
                            We always try to offer amazing prices on all our products; how do we do this? We own a highly skilled and professional purchasing team to source 100% genuine and brand-new products globally. Our suppliers play key role in our success hence we develop inseparable relationships with our suppliers, who always help us to bring the cost effective & customize solutions for our valuable customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ourteam container mt-5">
    <h6 class="red-c text-center">
       UNIQUE FINDER TRADES
    </h6>
    <h1 class="text-center">Our Team</h1>
    <div class="col-lg-12 mt-4 text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <img src="{% static 'images/about-us-3-team-member-1.jpg' %}" alt="">
                <h4>
                    Mark Jance
                </h4>
                <p>CEO</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="{% static 'images/about-us-3-team-member-2.jpg' %}" alt="">
                <h4>
                    Aviana Plummer
                </h4>
                <p>Marketing Manager</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="{% static 'images/about-us-3-team-member-3.jpg' %}" alt="">
                <h4>
                    Braydon Wilkerson
                </h4>
                <p>Procurement Manager</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="{% static 'images/about-us-3-team-member-4.jpg' %}" alt="">
                <h4>
                    Kristin Watson
                </h4>
                <p>Ware House Manager</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}