{% extends "myapp/main.html" %}
{% load static %}
{% block title %}Checkout - UniqueFinderTrades{% endblock %}

{% block content %}
<div class="shoppingcart">
    <a href="">
        CHECKOUT
    </a>
</div>
{% if empty_cart %}

<div class="text-center cart__empty">
    <h1>
        Sorry
    </h1>
    <p>
        Checkout is not available whilst your cart is empty.
    </p>
    <div class="mt-4">
        <a class="productdetail__btn mt-4" href="">RETURN TO SHOP</a>
    </div>
</div>
{% else %}
<div class="container">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-6">
                <h1>Billing Details</h1>
                <form method="post" class="contactus__form" id="billing-form">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="id_first_name">First Name:</label>
                                <input type="text" id="id_first_name" name="first_name" maxlength="100" required><br>
                            </div>
                            <div class="col-lg-6">
                                <label for="id_last_name">Last Name:</label>
                                <input type="text" id="id_last_name" name="last_name" maxlength="100" required><br>
                            </div>
                        </div>
                    </div>

                    <label for="id_company_name">Company Name:(Optional)</label>
                    <input type="text" id="id_company_name" name="company_name" maxlength="100"><br>

                    <label for="id_country">Country:</label>
                    <input type="text" id="id_country" name="country" maxlength="100" required><br>

                    <label for="id_street_address">Street Address:</label>
                    <input type="text" id="id_street_address" name="street_address" maxlength="255" required><br>

                    <label for="id_town_city">Town/City:</label>
                    <input type="text" id="id_town_city" name="town_city" maxlength="100" required><br>

                    <label for="id_zip_code">Zip Code:</label>
                    <input type="text" id="id_zip_code" name="zip_code" maxlength="20" required><br>

                    <label for="id_phone">Phone:</label>
                    <input type="text" id="id_phone" name="phone" maxlength="20" required><br>

                    <label for="id_email">Email:</label>
                    <input type="email" id="id_email" name="email" required><br>

                    <label for="id_order_notes">Order Notes:(Optional)</label>
                    <textarea id="id_order_notes" name="order_notes"></textarea><br>

                    <button class="productdetail__btn" type="submit">Place Order</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}