<footer class="mt-5">
    <div class="footback">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <ul>
                            <li>
                                <i class="fa-solid fa-paper-plane"></i>
                                <span>
                                    UNIT 5 CAFE 313 75 WORKSOP ROAD SHEFFIELD UNITED KINGDOM S9 3TG
                                </span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-envelope"></i>                                   
                                    <span>
                                        Email: sales@uniquefindertrades.co.uk
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            CATEGORIES
                        </h5>
                        <ul>
                            <li><a href="{% url 'category_products' 'Health & Beauty' %}">Health & Beauty</a></li>
                            <li><a href="{% url 'category_products' 'Baby' %}">Baby</a></li>
                            <li><a href="{% url 'category_products' 'DIY & Tools' %}">DIY & Tools</a></li>
                            <li><a href="{% url 'category_products' 'Sports & Outdoors' %}">Sports & Outdoors</a></li>
                            <li><a href="{% url 'category_products' 'Toys' %}">Toys</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            CATEGORIES
                        </h5>
                        <ul>
                            <li><a href="{% url 'category_products' 'Grocery' %}">Grocery</a></li>
                            <li><a href="{% url 'category_products' 'Pet Supplies' %}">Pet Supplies</a></li>
                            <li><a href="{% url 'category_products' 'Home & Kitchen' %}">Home & Kitchen</a></li>
                            <li><a href="{% url 'category_products' 'Office Products' %}">Office Products</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            MY ACCOUNT
                        </h5>
                        <ul>
                            <!-- <li><a href="{% url 'checkout' %}">Checkout</a></li> -->
                            <li><a href="{% url 'cart_view' %}">Cart</a></li>
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr__br">
        <p class="text-center">
            UNIQUE FINDER TRADES&copy; 2024 CREATED BY.
        </p>
    </div>
</footer>   